:root{
    --min-color: #222222;
    --min-color-tow: #6b6b6b;
    --background-color: #EFEFEF;
    --background-color-header: #EFEFEF;
    --color-card: #E5E6E3;
    --linear-color: linear-gradient(#E0DEDA, #EFEFED);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::selection{
    background-color: #A38F76;
    color: #fff;
}

/* start nav */
nav{
    width: 100%;
    background-color: #dddd;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 0;
    z-index: 9;
    /* overflow: hidden; */
}

nav .menu-shop{
    width: 25%;
    height: 100vh;
    position: fixed;
    background-color: var(--background-color);
    border-left: 2px solid #8b8b8b65;
    right: -100%;
    top: 0;
    transition: all .5s;
    z-index: 20;
}

nav .menu-shop .close-icone{
    width: 100%;
    padding: 20px;
}

nav .menu-shop .close-icone #iconClose{
    font-size: 30px;
    color: var(--min-color);
    cursor: pointer;
    transition: all .3s;
}

nav .menu-shop .close-icone i:hover{
    transform: scale(1.2);
}

nav .menu-shop .shopcontent{
    width: 80%;
    min-height: 20px;
    margin: auto;
}

nav .menu-shop .shopcontent .minProd{
    width: 100%;
    padding: 1px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
}

nav .menu-shop .shopcontent .minProd .img{
    width: 30%;
    height: 100%;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

nav .menu-shop .shopcontent .minProd .img img{
    width: 100%;
    height: 70px;
}

nav .menu-shop .shopcontent .minProd div{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3px;
}

nav .menu-shop .shopcontent .minProd span{
    font-size: 12px;
    font-weight: 600;
    color: var(--min-color);
}

nav .menu-shop .shopcontent p{
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    color: var(--min-color);
    margin: 0;
    text-transform: capitalize;
}

nav .menu-shop .shopcontent .minProd .icons{
    width: 20%;
    display: flex;
    justify-content: space-between;
}

nav .menu-shop .shopcontent .minProd .icons div{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .menu-shop .shopcontent .minProd .icons div#div1{
    background-color: #afff8aa1;
    cursor: pointer;
}
nav .menu-shop .shopcontent .minProd .icons div#div2{
    background-color: #f7ff8aa1;
    cursor: pointer;
    
}

/* nav .menu-shop .shopcontent .minProd .icons div{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .menu-shop .shopcontent .minProd .icons #span1{
    background-color: rgb(153, 247, 165);
    cursor: pointer;
    font-size: 18px;
    
    
} */

nav .menu-shop .btn{
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border: none;
}

nav .menu-shop button{
    width: 170px;
    height: 40px;
    border-radius: 9px;
    border: none;
    background-color: var(--min-color);
    color: var(--background-color);
    font-size: 13px;
}

nav .menu-shop button:hover{
    background-color: #000;
}

nav .logo{
    width: 110px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .logo img{
    width: 100%;
}

nav .links{
    padding: 20px;
}

nav .links ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

nav .links ul li{
    list-style: none;
}

nav .links ul li a{
    text-decoration: none;
    color: var(--min-color);
    text-transform: capitalize;
    font-weight: 600;
    font-size: 16px;
}

nav .links ul li a:hover{
    color: var(--min-color);
    transition: all .3s;
}

nav .icons{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

nav .icons .icon{
    padding: 0 9px;
    margin: 0 10px;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

nav .icons .icon i{
    color: var(--min-color);
    font-size: 20px;
    cursor: pointer;
}

nav .icons .icon #searchInupt{
    position: absolute;
    bottom: -20px;
    right: 0;
    padding-left: 10px;
    border: 1px solid var(--min-color);
    border-radius: 15px;
    outline: none;
    background-color: transparent;
    transition: all .5s;
    display: none;
}


nav .icons .icon div{
    width: 19px;
    height: 19px;
    background-color: var(--min-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 9px;
    right: 0;
    color: #fff;
    font-size: 13px;
}

nav .icons .icon div#numPro{
    text-align: center;
    display: none;
}

nav .link-sign{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .link-sign ul li{
    list-style: none;
    display: inline-block;
    padding: 0 5px;

}

nav .link-sign ul li a{
    text-decoration: none;
    color: #000;
}

nav .done-sign-user{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav .done-sign-user .img-user{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(#67391460,#f7d1bd38);
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid #919191;

}

nav .done-sign-user #name-user{
    font-size: 15px;
    text-align: center;
}

nav .done-sign-user .img-user i{
    font-size: 20px;
    color: #ffffff;
}

nav .done-sign-user .user-data{
    width: 250px;
    min-height: 320px;
    background-color: #ffffff;
    padding: 15px 5px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    position: absolute;
    top: 70px;
    transition: all .5s;
    display: none;
}

nav .done-sign-user .user-data .img-user2{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    background: linear-gradient(#6739147a,#f7d1bd5d);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #949494;
    
}

nav .done-sign-user .user-data .img-user2 i{
    color: #fff;
    font-size: 20px;
}

nav .done-sign-user .user-data h5,
nav .done-sign-user .user-data p{
    text-align: center;
    font-size: .7vw;
}


nav .done-sign-user .user-data ul li{
    display: block;
    font-weight: 600;
    margin: 5px 0;
}

nav .done-sign-user .user-data a.logout{
    margin: 3px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}


nav .cont-menu{
    width: 100%;
    display: flex;
    justify-content: end;
    display: none;
}

nav .menu-icon{
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
}

nav .menu-icon span{
    width: 100%;
    height: 3px;
    background-color: var(--min-color);
    display: block;
    margin-bottom: 9px;
    cursor: pointer;
    border-radius: 20px;
    transition: all .2s;
}

nav .menu-icon .spntow{
    margin-top: 14px;
    box-shadow: 0px -13px 0px var(--min-color);
}

.mobile-screen{
    position: fixed;
    z-index: 8;
    top: 68px;
    left: -100%;
    width: 80%;
    background-color: #fff;
    height: calc(90vh - 60px);
    overflow-x: hidden;
    overflow-y: scroll;
    transition: all .5s;
    border-bottom-right-radius: 25px;
    padding: 20px 0;
}

.mobile-screen::after{
    content: "";
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #2525253b;
    top: 50%;
    right: -150px;
    z-index: -5;
    animation: right-to-left 4s infinite linear;
}
.mobile-screen::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #2525253b;
    top: 10%;
    left: -150px;
    z-index: -5;
    animation: left-to-rigth 5s infinite linear;
}

@keyframes right-to-left{
    0%{
        right: -150px;
        width: 200px;
        height: 200px;
    }
    50%{
        right: -120px;
        width: 220px;
        height: 220px;
    }
    100%{
        right: -150px;
        width: 200px;
        height: 200px;
    }
}
@keyframes left-to-rigth{
    0%{
        left: -100px;
        width: 150px;
        height: 150px;
    }
    50%{
        left: -120px;
        width: 200px;
        height: 200px;
    }
    100%{
        left: -100px;
        width: 150px;
        height: 150px;
    }
}



.mobile-screen .links ul{
    text-align: center;
    padding: 0;
    overflow: hidden;
    padding-top: 50px;
}

.mobile-screen .links ul li{
    list-style: none;
    margin: 15px 0;
    position: relative;
    margin-bottom: 30px;
}  

.mobile-screen .links ul li a{
    text-decoration: none;
    color: var(--min-color);
    text-transform: capitalize;
    font-size: 24px;
}

.mobile-screen .links ul li a:hover{
    color: var(--min-color);
}

.mobile-screen .links ul li::after{
    content: "";
    position: absolute;
    height: 10%;
    width: 38%;
    right: -100%;
    top: 50%;
    background: linear-gradient(-90deg, var(--min-color), #858585);
    transition: all .3s;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 30px;
}
.mobile-screen .links ul li::before{
    content: "";
    position: absolute;
    height: 10%;
    width: 38%;
    left: -100%;
    top: 50%;
    background: linear-gradient(90deg, var(--min-color), #858585);
    transition: all .3s;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 12px;

}

.mobile-screen .links ul li:hover::after{
    right: 0;
}
.mobile-screen .links ul li:hover::before{
    left: 0;
}

.mobile-screen hr{
    width: 85%;
    margin: auto;
}

.mobile-screen .icons-tex{
    margin: 25px 0;
    padding-left: 20px;
}

.mobile-screen .icons-tex ul li{
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
    color: var(--min-color-tow);
}  

.mobile-screen .icons-tex ul li a{
    text-decoration: none;
    color: var(--min-color-tow);
}

.mobile-screen .icons-tex ul li:hover i{
    color: var(--min-color-tow);
}

.mobile-screen .icons-tex ul li i{
    margin-right: 9px;
}

.mobile-screen .icons-tex ul li:hover i{
    transform: scale(1.1);
    transition: all .3s;
}

.mobile-screen .icons-tex div{
    padding-left:30px;
    margin: 30px 0;
}

.mobile-screen .icons-tex div i{
    margin-right: 12px;
    cursor: pointer;
    font-size: 18px;
    transition: all .5s;
    color: var(--min-color-tow);
}


.mobile-screen .icons-tex div i:hover{
    text-shadow: 3px 2px 1px #222222;
}

.mobile-screen .search-input{
    width: 100%;
    padding: 0 10px;
    margin-top: 40px;
}

.mobile-screen .search-input input{
    width: 60%;
    height: 40px;
    border: 2px solid var(--min-color);
    outline: none;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    background-color: transparent;
    padding-left: 15px;
    color: var(--min-color);
}

.mobile-screen .search-input button{
    width: 30%;
    height: 40px;
    border: none;
    outline: none;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    background: linear-gradient(110deg, #222222, #222222, #7777);
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    transition: all .5s;
}

.mobile-screen .search-input button:hover{
    background-color: #000;
}

@media screen and (max-width: 1400px) {
    nav .menu-shop{
        width: 26%;
    }
}

@media screen and (max-width: 992px) {
    nav .links-colm, nav .icons-colm, .login-links-inUser{
        display: none;
    }
    nav .cont-menu{
        display: flex;
    }
    nav .menu-shop{
        width: 35%;
    }
}

@media screen and (max-width: 700px) {
    nav .menu-shop{
        width: 40%;
    }
}

/* end nav */

/* start image head */
.image-head{
    width: 100%;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3 )), url(../../images/263859179_212623414364129_4384028311960633507_n.jpg);
    background-repeat: no-repeat;
    background-size: 100% ;
    background-position: top;
    background-attachment: fixed;
    margin-top: 72px;
}

@media screen and (max-width: 890px) {
    .image-head{
        background-size: 150% 100%;
    }
}

.image-head .text h2{
    font-size: 60px;
    font-family: Kurale, serif;
    font-weight: 700;
    color: #fff;
}

.image-head .text p{
    text-align: center;
    color: #eeee;
    font-weight: 900;
}

.image-head .text p a{
    text-decoration: none;
    color: #dfdfdfee;
    font-weight: 800;
    transition: all .3s;
}

.image-head .text p a:hover{
    color: #6e6e6e;
}
/* end image head */

/* start sec-products */

.sec-products{
    width: 100%;
    min-height: 140vh;
    margin-top: 50px;
    padding: 35px 0;
}

.sec-products .row{
    display: flex;
    flex-wrap: wrap-reverse;
}

.sec-products .links{
    width: 100%;
}

.sec-products .links .link{
    width: 100%;
    margin-bottom: 15px; 
    padding-bottom: 10px;
    border-bottom: 1px solid var(--min-color-tow);
    transition: all .5s;
    overflow: hidden;
}

.sec-products .links .input{
    width: 100%;
    height: 40px;
    position: relative;
}

.sec-products .links .input input{
    width: 100%;
    height: 100%;
    border: 1px solid #858585;
    outline: none;
    padding-left: 35px;
    border-radius: 5px;
}

.sec-products .links .input i{
    position: absolute;
    top: 50%;
    left: 25px;
    font-size: 18px;
    color: #000;
    transform: translate(-50%, -50%);
}

.sec-products .links .head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.sec-products .links .head h4{
    font-size: 16px;
    font-family: Kurale, serif;
    font-weight: 600;
    color: var(--min-color);
}

.sec-products .links .head i{
    font-size: 18px;
    cursor: pointer;
    transition: all .5s;
}

.sec-products .links ul{
    padding: 0;
}

.sec-products .links ul li{
    list-style: none;
}

.sec-products .links ul li a{
    color: var(--min-color-tow);
    transition: all .3s;
    text-decoration: none;
}

.sec-products .links ul li:hover a{
    color: var(--min-color);
    text-decoration-line: underline;
}

.sec-products .links .img{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
}

.sec-products .links .img img{
    width: 110px;
    height: 140px;
}

.sec-products .links .img p{
    font-size: 15px;
    margin-left: 15px;
    max-width: 70%;
}

.sec-products .links .img p span{
    color: red;
    font-weight: 600;
    font-size: 18px;
    display: block;
}

.sec-products .links .img p span del{
    color: var(--min-color-tow);
}

.sec-products .contant{
    width: 100%;
    min-height: 100%;
}

.sec-products .contant .toggel-prod{
    width: 100%;
    height: 90px;
    border: 1px solid var(--min-color-tow);
    border-radius: 12px;
    padding-left:12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.sec-products .contant .toggel-prod button{
    width: 160px;
    height: 45px;
    border: 1px solid var(--min-color-tow);
    background-color: transparent;
    border-radius: 8px;
    color: var(--min-color-tow);
    transition: all .3s;
}

.sec-products .contant .toggel-prod button:hover{
    background-color: var(--min-color);
    color: var(--background-color);
}   

.sec-products .contant .toggel-prod p{
    font-size: 16px;
    font-weight: 600;
    font-family:  Kurale, serif;
}


@media screen and (max-width: 991px) {
    .sec-products .contant .toggel-prod p{
        display: none;
    }
    .sec-products .contant .toggel-prod button{
        width: 20vw;
        font-size: 2vw;
    }
}

.sec-products .contant .toggel-prod .icons-toggel{
    padding: 0px 30px;
}

.sec-products .contant .toggel-prod .icons-toggel i{
    font-size: 21px;
    cursor: pointer;
    margin: 0 10px;
    color: var(--min-color-tow);
    transition: all .3s;
}


.sec-products .contant .toggel-prod .icons-toggel i:hover{
    color: var(--min-color);
}

.sec-products .contant .toggel-prod .icons-toggel i:nth-child(2),
.sec-products .contant .toggel-prod .icons-toggel i:nth-child(3){
    transform: rotate(90deg);
}


.sec-products .contant .products{
    width: 100%;
    height: calc(100% - 90px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 15px;
}

.sec-products .contant .products .card-product1{
    width: 24%;
    display: flex;
    flex-direction: column;
    margin: 12px;
}


.sec-products .contant .products .card-product .img{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.sec-products .contant .products .card-product .img img{
    width: 100%;
    height: 100%;
    left: 0;
}

.sec-products .contant .products .card-product .img span{
    position: absolute;
    padding: 0 3px;
    color: var(--background-color);
    text-transform: capitalize;
    left: 0;
    font-size: .7vw;
}

@media screen and (max-width: 700px) {
    .sec-products .contant .products .card-product .img span{
        font-size: 12px;
    }
}

.sec-products .contant .products .card-product .img span.red{
    top: 8px;
    background-color: red;
}
.sec-products .contant .products .card-product .img span.black{
    top: 35px;
    background-color: var(--min-color);
}

.sec-products .contant .products .card-product .img .icon{
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: absolute;
    right: 8px;
    top: 0;
    cursor: pointer;
}

.sec-products .contant .products .card-product .img .icon1{
    top: 20px;
    
}
.sec-products .contant .products .card-product .img .icon2{
    top: 65px;
    
}

.sec-products .contant .products .card-product .img .icon i{
    font-size: 1vw;
    color: var(--min-color);
}

.sec-products .contant .products .card-product .img .icon:hover{
    background-color: var(--min-color);
}
.sec-products .contant .products .card-product .img .icon:hover i{
    color: var(--background-color);
}

.sec-products .contant .products .card-product .img .hoverIcons{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -50px;
    transition: all .5s;
    
}

.sec-products .contant .products .card-product .img:hover .hoverIcons{
    bottom: 15px;
}

@media screen and (max-width: 700px) {
    .sec-products .contant .products .card-product .img .hoverIcons{
        bottom: 15px;
    }
}
.sec-products .contant .products .card-product .img .hoverIcons div{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--min-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 5px;
}
.sec-products .contant .products .card-product .img .hoverIcons div:hover{
    background-color: var(--background-color);
}
.sec-products .contant .products .card-product .img .hoverIcons div i{
    font-size: 15px;
    color: var(--background-color);
}
.sec-products .contant .products .card-product .img .hoverIcons div:hover i{
    color: var(--min-color);
}

.sec-products .contant .products .card-product .text{
    text-align: center;
    padding: 5px 0;
}

.sec-products .contant .products .card-product .text p{
    text-transform: capitalize;
    font-size: 14.4px;
    margin: 8px 0;
    color: var(--min-color);
    font-weight: 600;
}
.sec-products .contant .products .card-product .text  span{
    font-size: 17px;
    font-weight: 700;
    color: var(--min-color);
}
.sec-products .contant .products .card-product .text span del{
    color: var(--min-color-tow);
    font-size: 14px;
}

.sec-products .contant .noLognCart{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0,0,0,0.6);
    display: none;
}

.sec-products .contant .noLognCart div{
    width: 400px;
    height: 150px;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.sec-products .contant .noLognCart div i#colsePopup{
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 19px;
}

.sec-products .contant .noLognCart div p{
    font-weight: 600;
    text-align: center;
    margin-top: 19px;
}

.sec-products .contant .noLognCart div a{
    text-decoration: none;
    text-transform: capitalize;
    font-family: Kurale, serif;
    color: var(--min-color);
    padding: 5px 12px;
    transition: all .5s;
    border-bottom: 1px dashed var(--min-color-tow);
}

.sec-products .contant .noLognCart div a:hover{
    background-color: var(--min-color);
    border-radius: 8px;
    color: var(--background-color);
    border: none;
}



@media screen and (max-width: 990px) {
    .sec-products .contant .products .card-product{
        width: 45%;
        margin: 0;
        margin-top: 20px;
    }
}
@media screen and (max-width: 800px) {
    .sec-products .contant .products .card-product .img .icon{
        display: none;
    }
}
/* end sec-products */














/* start footer */
footer{
    width: 100%;
    min-height: 55vh;
}

footer .inpu-tex{
    width: 100%;
    margin: 20px 0;
    border-top: 1px solid #6b6b6b54;
    border-bottom: 1px solid #6b6b6b54;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .inpu-tex h2{
    color: var(--min-color);
    font-family: Kurale, serif;
    font-weight: 700;
}

footer .inpu-tex p{
    color: var(--min-color-tow);
}

footer .inpu-tex .inpu{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer .inpu-tex input{
    width: 73%;
    height: 50px;
    border: 1px solid var(--min-color-tow);
    border-radius: 5px;
    padding-left: 15px;
    outline: none;
}

footer .inpu-tex button{
    width: 25%;
    line-height: 45px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    background-color: var(--min-color);
    color: #fff;
    
}

footer .inpu-tex button:hover{
    background-color: var(--min-color-tow);
}

footer .container{
    padding-top: 50px;
}

footer .contact img{
    width: 110px;
    margin-bottom: 15px;
}

footer .contact{
    margin-right: 30px;
}

footer .contact p{
    color: var(--min-color-tow);
    font-size: 15px;
    margin: 10px 0;
}

footer .contact ul{
    padding: 0;
    width: 320px;
}

footer .contact ul li{
    list-style: none;
    color: var(--min-color-tow);
    font-size: 12px;
    display: flex;
    align-items: center;
    margin: 12px 0;
}

footer .contact ul li a{
    margin-left: 5px;
    text-decoration: none;
    color: var(--min-color-tow);
}

footer .contact ul li a:hover{
    color: var(--min-color);
}


footer .links h4{
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--min-color);
    margin-bottom: 30px;
    font-family: Kurale, serif;
    font-weight: 600;
}

footer .links ul{
    padding: 0;
}

footer .links ul li{
    list-style: none;
    margin: 15px 0;
}

footer .links ul li a{
    text-decoration: none;
    color: var(--min-color-tow);
    font-family: Kurale, serif;
}

footer .links ul li a:hover{
    color: var(--min-color);
}

footer .copyright{
    width: 100%;
    padding: 28px;
    border-top: 1px solid var(--min-color-tow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 80px;
}

footer .copyright p{
    font-size: 15px;
    font-family: Kurale, serif;
    color: var(--min-color-tow);
    font-weight: 600;
}

footer .copyright .icon i{
    margin: 0 10px;
    font-size: 17px;
    cursor: pointer;
    transition: all .3s;
    color: var(--min-color-tow);
}

footer .copyright .icon i:hover{
    transform: scale(1.2);
    text-shadow: 6px 2px 2px var(--min-color);
    color: var(--min-color);
}

footer #qrCode{
    width: 100px;
    cursor: pointer;
}

footer .qr{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #38373781;
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}

footer .qr img{
    width: 350px;
    height: 350px;
}

footer .qr i{
    position: absolute;
    top: 15%;
    right: 100px;
    font-size: 40px;
    cursor: pointer;
    color: #fff;
    background-color: #000;
    padding: 2px 7px;

}

/* end footer */



/* start btn-up */
.btn-up{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 25px;
    bottom: 30px;
    z-index: 4;
    background-color: var(--min-color);
    border-radius: 50%;
    cursor: pointer;
    display: none;
    transition: all .5s;
}

.btn-up i{
    font-size: 17px;
    color: var(--background-color);
}
/* end btn-up */


/************* loader ***********/

.loader{
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader .ring{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.loader .ring img{
    width: 80%;
}

.loader .ring::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: roteat 2s linear infinite;
}



@keyframes roteat {
    0%{
        transform: rotate(0);
        box-shadow: 1px 5px 2px #e65c00;
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #15b201;
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #0456c8;
    }
}

@media screen and (max-width: 800px) {
    .loader .ring{
        width: 200px;
        height: 200px;
    }
}