:root{
    --min-color: #222222;
    --min-color-tow: #6b6b6b;
    --background-color: #EFEFEF;
    --background-color-header: #EFEFEF;
    --color-card: #E5E6E3;
    --linear-color: linear-gradient(#E0DEDA, #EFEFED);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::selection{
    background-color: #A38F76;
    color: #fff;
}
/* start nav */
nav{
    width: 100%;
    background-color: #dddd;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 0;
    z-index: 9;
    /* overflow: hidden; */
}

nav .menu-shop{
    width: 20%;
    height: 100vh;
    position: fixed;
    background-color: var(--background-color);
    border-left: 2px solid #8b8b8b65;
    right: -100%;
    top: 0;
    transition: all .5s;
    z-index: 20;
}

nav .menu-shop .close-icone{
    width: 100%;
    padding: 20px;
}

nav .menu-shop .close-icone #iconClose{
    font-size: 30px;
    color: var(--min-color);
    cursor: pointer;
    transition: all .3s;
}

nav .menu-shop .close-icone i:hover{
    transform: scale(1.2);
}

nav .logo{
    width: 110px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .logo img{
    width: 100%;
}

nav .links{
    padding: 20px;
}

nav .links ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

nav .links ul li{
    list-style: none;
}

nav .links ul li a{
    text-decoration: none;
    color: var(--min-color);
    text-transform: capitalize;
    font-weight: 600;
    font-size: 16px;
}

nav .links ul li a:hover{
    color: var(--min-color);
    transition: all .3s;
}

nav .icons{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

nav .icons .icon{
    padding: 0 9px;
    margin: 0 10px;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

nav .icons .icon i{
    color: var(--min-color);
    font-size: 20px;
    cursor: pointer;
}

nav .icons .icon #searchInupt{
    position: absolute;
    bottom: -20px;
    right: 0;
    padding-left: 10px;
    border: 1px solid var(--min-color);
    border-radius: 15px;
    outline: none;
    background-color: transparent;
    transition: all .5s;
    display: none;
}


nav .icons .icon div{
    width: 19px;
    height: 19px;
    background-color: var(--min-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 9px;
    right: 0;
    color: #fff;
    font-size: 13px;
}

nav .link-sign{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .link-sign ul li{
    list-style: none;
    display: inline-block;
    padding: 0 5px;

}

nav .link-sign ul li a{
    text-decoration: none;
    color: #000;
}

nav .done-sign-user{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav .done-sign-user .img-user{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(#67391460,#f7d1bd38);
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid #919191;

}

nav .done-sign-user #name-user{
    font-size: 15px;
    text-align: center;
}

nav .done-sign-user .img-user i{
    font-size: 20px;
    color: #ffffff;
}

nav .done-sign-user .user-data{
    width: 250px;
    min-height: 320px;
    background-color: #ffffff;
    padding: 15px 5px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    position: absolute;
    top: 70px;
    transition: all .5s;
    display: none;
}

nav .done-sign-user .user-data .img-user2{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    background: linear-gradient(#6739147a,#f7d1bd5d);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #949494;
    
}

nav .done-sign-user .user-data .img-user2 i{
    color: #fff;
    font-size: 20px;
}

nav .done-sign-user .user-data h5,
nav .done-sign-user .user-data p{
    text-align: center;
    font-size: .7vw;
}


nav .done-sign-user .user-data ul li{
    display: block;
    font-weight: 600;
    margin: 5px 0;
}

nav .done-sign-user .user-data a.logout{
    margin: 3px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}


nav .cont-menu{
    width: 100%;
    display: flex;
    justify-content: end;
    display: none;
}

nav .menu-icon{
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
}

nav .menu-icon span{
    width: 100%;
    height: 3px;
    background-color: var(--min-color);
    display: block;
    margin-bottom: 9px;
    cursor: pointer;
    border-radius: 20px;
    transition: all .2s;
}

nav .menu-icon .spntow{
    margin-top: 14px;
    box-shadow: 0px -13px 0px var(--min-color);
}

.mobile-screen{
    position: fixed;
    z-index: 8;
    top: 68px;
    left: -100%;
    width: 80%;
    background-color: #fff;
    height: calc(90vh - 60px);
    overflow-x: hidden;
    overflow-y: scroll;
    transition: all .5s;
    border-bottom-right-radius: 25px;
    padding: 20px 0;
}

.mobile-screen::after{
    content: "";
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #2525253b;
    top: 50%;
    right: -150px;
    z-index: -5;
    animation: right-to-left 4s infinite linear;
}
.mobile-screen::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #2525253b;
    top: 10%;
    left: -150px;
    z-index: -5;
    animation: left-to-rigth 5s infinite linear;
}

@keyframes right-to-left{
    0%{
        right: -150px;
        width: 200px;
        height: 200px;
    }
    50%{
        right: -120px;
        width: 220px;
        height: 220px;
    }
    100%{
        right: -150px;
        width: 200px;
        height: 200px;
    }
}
@keyframes left-to-rigth{
    0%{
        left: -100px;
        width: 150px;
        height: 150px;
    }
    50%{
        left: -120px;
        width: 200px;
        height: 200px;
    }
    100%{
        left: -100px;
        width: 150px;
        height: 150px;
    }
}



.mobile-screen .links ul{
    text-align: center;
    padding: 0;
    overflow: hidden;
    padding-top: 50px;
}

.mobile-screen .links ul li{
    list-style: none;
    margin: 15px 0;
    position: relative;
    margin-bottom: 30px;
}  

.mobile-screen .links ul li a{
    text-decoration: none;
    color: var(--min-color);
    text-transform: capitalize;
    font-size: 24px;
}

.mobile-screen .links ul li a:hover{
    color: var(--min-color);
}

.mobile-screen .links ul li::after{
    content: "";
    position: absolute;
    height: 10%;
    width: 38%;
    right: -100%;
    top: 50%;
    background: linear-gradient(-90deg, var(--min-color), #858585);
    transition: all .3s;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 30px;
}
.mobile-screen .links ul li::before{
    content: "";
    position: absolute;
    height: 10%;
    width: 38%;
    left: -100%;
    top: 50%;
    background: linear-gradient(90deg, var(--min-color), #858585);
    transition: all .3s;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 12px;

}

.mobile-screen .links ul li:hover::after{
    right: 0;
}
.mobile-screen .links ul li:hover::before{
    left: 0;
}

.mobile-screen hr{
    width: 85%;
    margin: auto;
}

.mobile-screen .icons-tex{
    margin: 25px 0;
    padding-left: 20px;
}

.mobile-screen .icons-tex ul li{
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}  

.mobile-screen .icons-tex ul li a{
    text-decoration: none;
    color: #464646;
}

.mobile-screen .icons-tex ul li:hover i{
    color: #464646;
}

.mobile-screen .icons-tex ul li i{
    margin-right: 9px;
}

.mobile-screen .icons-tex ul li:hover i{
    transform: scale(1.1);
    transition: all .3s;
}

.mobile-screen .icons-tex div{
    padding-left:30px;
    margin: 30px 0;
}

.mobile-screen .icons-tex div i{
    margin-right: 12px;
    cursor: pointer;
    font-size: 18px;
    transition: all .5s;
}


.mobile-screen .icons-tex div i:hover{
    text-shadow: 3px 2px 1px #222222;
}

.mobile-screen .search-input{
    width: 100%;
    padding: 0 10px;
    margin-top: 40px;
}

.mobile-screen .search-input input{
    width: 60%;
    height: 40px;
    border: 2px solid var(--min-color);
    outline: none;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    background-color: transparent;
    padding-left: 15px;
    color: var(--min-color);
}

.mobile-screen .search-input button{
    width: 30%;
    height: 40px;
    border: none;
    outline: none;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    background: linear-gradient(110deg, #222222, #222222, #7777);
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    transition: all .5s;
}

.mobile-screen .search-input button:hover{
    background-color: #000;
}

@media screen and (max-width: 1400px) {
    nav .menu-shop{
        width: 26%;
    }
}

@media screen and (max-width: 992px) {
    nav .links-colm, nav .icons-colm, .login-links-inUser{
        display: none;
    }
    nav .cont-menu{
        display: flex;
    }
    nav .menu-shop{
        width: 35%;
    }
}

@media screen and (max-width: 700px) {
    nav .menu-shop{
        width: 40%;
    }
}

/* end nav */

/* start header */
header{
    min-height: 100vh;
    background-color: var(--background-color-header);
    display: flex;
    align-items: center;
}


header .swiper {
    width: 100vw;
}

header .swiper-slide {
    width: 100vw;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header .text{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

header .text h4{
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 1px;
}

header .text h1{
    color: var(--min-color);
    font-size: 70px;
    font-family: Kurale, serif;;
}

header .text p{
    color: var(--min-color-tow);
    margin: 15px 0;
}



header .text ul li{
    width: 100px;
    list-style: none;
    position: relative;
    padding-bottom: 3px;
    transition: all .2s;
    overflow: hidden;
    cursor: pointer;
    margin-top: 30px;
}

header .text ul li::after{
    content: "";
    position: absolute;
    width: 90px;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #4646463f;
}
header .text ul li::before{
    content: "";
    position: absolute;
    width: 90px;
    height: 2px;
    left: -100px;
    bottom: 0;
    transition: all .5s;
    z-index: 2;
}

header .text ul li:hover::before{
    left: 0px;
    background-color: #000000;
}

header .text ul li:hover a{
    color: #000000;
    transition: all .2s;
}

header .text ul li a{
    text-decoration: none;
    color: var(--min-color);
    text-transform: capitalize;
    font-size: 17px;
}

header .text ul li i{
    color: var(--min-color);
    font-size: 16px;
}

header .text2{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../images/banner-7_1728x.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 125% 92%;

}

header .text2 h1, header .text2 h4{
    color: #fff;
}

header .text2 p{
    color: #afafaf;
}

header .text2 ul li a, i{
    color: #c5c5c5;
}

header .text2 ul li:hover a{
    color: #fff;
}

header .text2 ul li::after{
    background-color: #888;
}

header .text2 ul li:hover::before{
    background-color: #fff;
}

header .img{
    width: 120%;
    height: 100%;
}
header .img img{
    width: 100%;
    height: 100vh;
}

header .dImg3 .img{
    width: 100%;
}


@media screen and (max-width: 1594px) {
    header .img{
        width: 100%;
    }
}
@media screen and (max-width: 992px) {
    header .dImg, header .dImg3 {
        display: none;
    }
    header .text{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header .text h1{
        text-align: center;
    }
}

/* end header */

/* start slide */
.slid-div{
    width: 100%;
    min-height: 50vh;
}

.slid-div .img{
    width: 100%;
    height: 200px;
    margin: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slid-div .img img{
    width: 80%;
    height: 75%;
    border-radius: 50%;
}

.slid-div .img h4{
    text-transform: uppercase;
    margin-top: 8px;
    font-size: 18px;
    font-weight: 600;
}

@media screen and (max-width: 992px) {
    .slid-div .img{
        width: 70%;
        height: 70%;
    }
}
/* end slide */
/* start sec-img */
.sec-img{
    width: 100%;
    min-height: 65vh;
    padding: 50px 0;
}

.sec-img .img-card{
    width: 99%;
    min-width: none;height: 65vh;
    background-image: url(../../images/img_19_1080x.png);
    background-size: 100% 100%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 80px;
    padding-left: 50px;
}

.sec-img .img-card .text h5{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}

.sec-img .img-card .text h2{
    font-weight: 700;
    font-size: 35px;
    margin: 15px 0;
}

.sec-img .img-card .text p{
    font-size: 17px;
    font-weight: 400;
    margin: 8px 0;
}

.sec-img .img-card .text button{
    width: 170px;
    height: 40px;
    margin-top: 25px;
    border: none;
    background-color: var(--min-color);
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 400;
}

.sec-img .img-card .text button:hover{
    background-color: #000;
}

.sec-img .img-card2{
    background-image: url(../../images/img_18_720x.png);
    margin: 0;
    
}

@media screen and (max-width: 992px) {
    .sec-img .img-card{
        width: 100%;
    }
}
/* end sec-img */

/* start sec-up-to */
.sec-up-to{
    width: 100%;
    min-height: 75vh;
    margin: 50px 0;
    margin-right: 0;
}

.text-font{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.text-font h1{
    font-size: 60px;
    font-weight: 900;
    color: var(--min-color);
}

.text-font h2{
    font-size: 40px;
    font-weight: 600;
    color: var(--min-color);
    font-family: Kurale, serif;
    max-width: 70%;
}
.text-font span{
    font-size: 45px;
}

.text-font p{
    font-size: 16px;
    margin: 20px 0;
    color: var(--min-color-tow);
    
}

.text-font button{
    width: 180px;
    height: 40px;
    border: none;
    background:  #444;
    color: #fff;
    border-radius: 8px;
    transition: all .3s;
    text-transform: uppercase;
}

.text-font button:hover{
    background: var(--min-color);
}

.text-font button a{
    text-decoration: none;
}

.sec-up-to .text{
    width: 80%;
    height: 600px;
    background-image: url(../../images/img_20_720x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 60px 30px;
    cursor: pointer;
    margin: 0;
}

.sec-up-to .text h2{
    margin-bottom: 20px;
    font-family: Kurale, serif;
    font-weight: 600;
}

.sec-up-to .text a, .sec-up-to .text i{
    text-decoration: none;
    text-transform: capitalize;
    color: var(--min-color);
    position: relative;
}

.sec-up-to .text li{
    list-style: none;
    position: relative;
    overflow: hidden;
}

.sec-up-to .text li::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 80px;
    height: 2px;
    background-color: #b3b3b3;
    
}
.sec-up-to .text li::after{
    content: "";
    position: absolute;
    bottom: 0px;
    left: -100%;
    width: 80px;
    height: 2px;
    background-color: #000;
    transition: all .5s;
}

.sec-up-to .text li:hover::after{
    left: 0;
}

.sec-up-to .text li:hover a{
    color: #000;
}

@media screen and (max-width: 992px) {
    .text-font h1{
        font-size: 5vw;
    }
    .text-font h2{
        font-size: 4vw;
    }
    .text-font p{
        font-size: 2vw;
    }
}
/* end sec-up-to */

/* start sec-backImg */
.backImg{
    width: 100%;
    height: 65vh;
    background-image: url(../../images/banner-1_1728x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 30px 0;
}

.backImg .text{
    height: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.backImg .text h5{
    width: 300px;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    font-family: serif;
}

.backImg .text h1{
    font-family: Kurale, serif;
    font-size: 50px;
    font-weight: 700;
    max-width: 300px;
    text-align: center;
}

.backImg .text p{
    width: 300px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: #858585;
    margin: 13px 0 25px;
} 

.backImg .text ul{
    width: 300px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backImg .text li{
    list-style: none;
    position: relative;
    overflow: hidden;
    padding-bottom: 3px;
    text-align: center;
    cursor: pointer;
}

.backImg .text li::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #979797ab;
    bottom: 0;
    left: 0;
}

.backImg .text li::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000ab;
    bottom: 0px;
    left: -100%;
    transition: all .3s;
}

.backImg .text li:hover::after{
    left: 0;
}

.backImg .text li a{
    text-decoration: none;
    color: #000;
}

.backImg .text li a i{
    color: #000;
    transition: all .3s;
}

.backImg .video{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.backImg .video .vid-icon{
    background-color: #e2e0e0;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.backImg .video i{
    color: #333333;
    font-size: 22px;
}

.backImg .video .wave1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.3);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 1;
    animation: scil-one 1.4s infinite linear;
}
.backImg .video .wave2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 246, 246, 0.2);
    width: 130px;
    height: 130px;
    border-radius: 50%;
    z-index: 1;
    animation: scil-tow 2s infinite linear;
}

@keyframes scil-one{
    0%{
        width: 100px;
        height: 100px;
    }
    50%{
        width: 130px;
        height: 130px;
    }
    100%{
        width: 150px;
        height: 150px;
        background-color: transparent;
    }
}
@keyframes scil-tow{
    0%{
        width: 100px;
        height: 100px;
    }
    50%{
        width: 145px;
        height: 145px;
    }
    100%{
        width: 150px;
        height: 150px;
        background-color: transparent;
    }
}

.backImg .video .div-video{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    
}

.backImg .video .div-video div{
    width: 45%;
    height: 52%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 10px 10px 8px #727272,
    inset -10px -10px 8px #727272;
    background-color: #f5f3f3;
    border-radius: 12px;
    border: 5px solid #747575;
}

.backImg .video .div-video div video{
    width: 99%;
    height: 95%;
}

.backImg .video .div-video i{
    position: absolute;
    top: 15%;
    right: 15%;
    font-size: 28px;
    color: #fff;
    padding: 3px 7px;
    background-color: #000;
    cursor: pointer;
}

/* end sec-backImg */

/* start sec-slid-img */
.sec-slid{
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*==================================================*/
.sec-slid .swiper {
    width: 100%;
    height: 100%;
}

.sec-slid .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .sec-slid .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

/*==================================================*/


.sec-slid .swiper-slide {
    height: 400px;
    background: #88252504;
    line-height: 300px;
    text-align: center;
}


.sec-slid .container #iconLeft{
    position: absolute;
    top: 50%;
    left: 0;
    padding: 2px;
    font-size: 28px;
    z-index: 2;
    cursor: pointer;
}
.sec-slid .container #iconRight{
    position: absolute;
    top: 50%;
    right: 0;
    padding: 2px;
    font-size: 28px;
    z-index: 2;
    cursor: pointer;
}



.sec-slid  .card-Slid{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
}

.sec-slid  .card-Slid .img{
    width: 100%;
    height: 80%;
    position: relative;
    overflow: hidden;
}

.sec-slid  .card-Slid .img img{
    width: 100%;
    height: 100%;
}

.sec-slid   .card-Slid .img .icons{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -30%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s;
}

.sec-slid  .card-Slid .img:hover .icons{
    bottom: 30%;
}

.sec-slid   .card-Slid .img .icons .icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #000;
    margin: 0 4px;
    display: flex;
    justify-content: center;
    align-items: center; 
    cursor: pointer;   
}

.sec-slid   .card-Slid .img .icons .icon i{
    color: #ffffff;
}

.sec-slid   .card-Slid .img .icons .icon:hover{
    background-color: #fff;
}
.sec-slid   .card-Slid .img .icons .icon:hover i{
    color: #000;
}

.sec-slid   .card-Slid .text{
    text-align: center;
    height: 20%;
    padding: 5px 0;
    background-color: transparent;
}

.sec-slid .text h5{
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--min-color);
    text-align: center;
    margin-top: 9px;
    background-color: transparent;
}

.sec-slid .text h4{
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: var(--min-color);
    background-color: transparent;
}

.sec-slid .text h4 span{
    color: rgb(207, 91, 91);
}

.sec-slid .text h4 del{
    color: var(--min-color-tow);
}


@media screen and (max-width: 992px) {
    /* .sec-slid   .card-Slid .img{
        height: 50%;
    } */
    .sec-slid  .card-Slid .img .icons .icon{
        width: 20px;
        height: 20px;

    }
    .sec-slid   .card-Slid .img .icons .icon i{
        font-size: 10px;
    }
    .sec-slid   .card-Slid .text h5{
        font-size: 2vw;
    }
    .sec-slid  .card-Slid .text h4{
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 600px) {
    .sec-slid   .card-Slid .img{
        height: 70%;
        width: 100%;
    }
    .sec-slid   .card-Slid .img img{
        height: 60%;
        width: 100%;
    }
    .sec-slid   .card-Slid .text{
        height: 40%;
    }

}




/* end sec-slid-img */
/* start sec-icon */
.sec-icons{
    width: 100%;
    min-height: 50vh;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    
}

.sec-icons .icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec-icons .icon h4{
    text-align: center;
    font-size: 19px;
    color: var(--min-color);
    margin: 15px 0;
}

.sec-icons .icon p{
    font-size: 14px;
    color: var(--min-color-tow);
}

/* end sec-icon */

/* start footer */
footer{
    width: 100%;
    min-height: 55vh;
}

footer .inpu-tex{
    width: 100%;
    margin: 20px 0;
    border-top: 1px solid #6b6b6b54;
    border-bottom: 1px solid #6b6b6b54;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .inpu-tex h2{
    color: var(--min-color);
    font-family: Kurale, serif;
    font-weight: 700;
}

footer .inpu-tex p{
    color: var(--min-color-tow);
}

footer .inpu-tex .inpu{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer .inpu-tex input{
    width: 73%;
    height: 50px;
    border: 1px solid var(--min-color-tow);
    border-radius: 5px;
    padding-left: 15px;
    outline: none;
}

footer .inpu-tex button{
    width: 25%;
    line-height: 45px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    background-color: var(--min-color);
    color: #fff;
    
}

footer .inpu-tex button:hover{
    background-color: var(--min-color-tow);
}

footer .container{
    padding-top: 50px;
}

footer .contact img{
    width: 110px;
    margin-bottom: 15px;
}

footer .contact{
    margin-right: 30px;
}

footer .contact p{
    color: var(--min-color-tow);
    font-size: 15px;
    margin: 10px 0;
}

footer .contact ul{
    padding: 0;
    width: 320px;
}

footer .contact ul li{
    list-style: none;
    color: var(--min-color-tow);
    font-size: 12px;
    display: flex;
    align-items: center;
    margin: 12px 0;
}

footer .contact ul li a{
    margin-left: 5px;
    text-decoration: none;
    color: var(--min-color-tow);
}

footer .contact ul li a:hover{
    color: var(--min-color);
}


footer .links h4{
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--min-color);
    margin-bottom: 30px;
    font-family: Kurale, serif;
    font-weight: 600;
}

footer .links ul{
    padding: 0;
}

footer .links ul li{
    list-style: none;
    margin: 15px 0;
}

footer .links ul li a{
    text-decoration: none;
    color: var(--min-color-tow);
    font-family: Kurale, serif;
}

footer .links ul li a:hover{
    color: var(--min-color);
}

footer .copyright{
    width: 100%;
    padding: 28px;
    border-top: 1px solid var(--min-color-tow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 80px;
}

footer .copyright p{
    font-size: 15px;
    font-family: Kurale, serif;
    color: var(--min-color-tow);
    font-weight: 600;
}

footer .copyright .icon i{
    margin: 0 10px;
    font-size: 17px;
    cursor: pointer;
    transition: all .3s;
    color: var(--min-color-tow);
}

footer .copyright .icon i:hover{
    transform: scale(1.2);
    text-shadow: 6px 2px 2px var(--min-color);
}

footer #qrCode{
    width: 100px;
    cursor: pointer;
}

footer .qr{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #38373781;
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}

footer .qr img{
    width: 350px;
    height: 350px;
}

footer .qr i{
    position: absolute;
    top: 15%;
    right: 100px;
    font-size: 40px;
    cursor: pointer;
    color: #fff;
    background-color: #000;
    padding: 2px 7px;

}

/* end footer */

/* start btn-up */
.btn-up{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 25px;
    bottom: 30px;
    z-index: 4;
    background-color: var(--min-color);
    border-radius: 50%;
    cursor: pointer;
    display: none;
    transition: all .5s;
}

.btn-up i{
    font-size: 17px;
    color: var(--background-color);
}
/* end btn-up */

/************* loader ***********/

.loader{
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader .ring{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.loader .ring img{
    width: 80%;
}

.loader .ring::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: roteat 2s linear infinite;
}



@keyframes roteat {
    0%{
        transform: rotate(0);
        box-shadow: 1px 5px 2px #e65c00;
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #15b201;
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #0456c8;
    }
}

@media screen and (max-width: 800px) {
    .loader .ring{
        width: 200px;
        height: 200px;
    }
}